<div class="container">
  <a id="goBack" href="#!/welcomeForm"/><i id="arrowBack"class="material-icons">arrow_back</i>Go Back!</a>
  <h1>TODO List</h1>
  <p>A place to store the things you have to do!</p>
    <input type="text" placeholder="Filter your to-dos" ng-model="$ctrl.itemsAdded">
    <form class="" ng-submit="$ctrl.addTask($ctrl.task)" method="post">

      <ol>
        <li ng-repeat="task in $ctrl.tasks | filter: itemsAdded track by $index" hover-state>
          {{ task.task }}
          <button type="button" name="remove">
            <span><i ng-click="$ctrl.showme=true; $ctrl.hideme=true;" id="edit" class="material-icons">create</i></span>
            <span><i ng-click="$ctrl.rmInfo(task, task.id)" id="close" class="material-icons">close</i></span>
          </button>
        </li>
      </ol>

    <div class="editArea">
      <input ng-show="$ctrl.showme" type="text" placeholder="Edit your to-do" ng-model="$ctrl.task">
      <button ng-click="$ctrl.editTask(task, task.id)" class="addButton" ng-show="$ctrl.showme">Edit</button>
      <button ng-show="$ctrl.showme" ng-click="$ctrl.showme=false; $ctrl.hideme=false;" class="addButton">Close</button>
    </div>

    <input ng-hide="$ctrl.hideme" class="addInput" type="text" placeholder="Add your to-do" ng-model="$ctrl.task">
    <button ng-hide="$ctrl.hideme" class="addButton" type="submit">Add</button>
  </form>
</div>
